.qb-builder-wrapper {
   .qb-builder-panel {
      border: 1px solid var(--ui-grey-100);
      background-color: var(--ui-color-white);
   }

   .qb-builder-output-textarea {
      font-family: monospace;
      font-size: 12px;
      resize: vertical;
      min-height: 200px;
      border: 1px solid var(--ui-grey-100);
      background-color: var(--ui-grey-0);
      color: var(--ui-grey-1000);
   }

   .qb-schema-field-card {
      border: 1px solid var(--ui-grey-100);
      background-color: var(--ui-color-white);
   }
}
