.qb-markup-ul,
.qb-markup-ol {
    padding-left: 20px;
    margin-bottom: 24px;
}

.qb-markup-li {
    margin-bottom: 8px;
    color: var(--ui-color-dark);
}

.qb-markup-bold {
    font-weight: 700;
}

.qb-markup-italic {
    font-style: italic;
}

.qb-markup-underline {
    text-decoration: underline;
}

.qb-markup-container {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 24px;
    }
}
